<div id="left_panel">
    <div id="name"><h2>Hasan Almawi</h2></div>
    <div id="img-name">
      <img class="circular--landscape" src="https://raw.githubusercontent.com/HAlmawi/halmawi.github.io/master/_assets/profile_pic.jpg">
    </div>
    <div id="img-links">
        <a href="https://github.com/halmawi"><img src="http://www.iconsplace.com/icons/preview/white/github-256.png" width="25" height="25"></a>
        <a href="https://ca.linkedin.com/in/hasanalmawi"><img src="https://raw.githubusercontent.com/HAlmawi/halmawi.github.io/master/_assets/linkedin.png" width="25" height="25"></a>
        <a href="https://twitter.com/hasanalmawi"style="padding-right:0!important;"><img src="https://raw.githubusercontent.com/HAlmawi/halmawi.github.io/master/_assets/twitter.png" width="25" height="25"></a>
    </div>
    <div id="contact_info">
      <p>hasan.almawi@gmail.com</p>
      <p>Toronto, ON</p>
    </div>
</div>
